*.tar.gz
**/.env*
optee_examples/
!.envrc.example
.aws
!README.md
**/*.md

# Rust build artifacts
**/target/
**/target-test/
**/*.rs.bk
**/*.rs.bak

# TA and host build artifacts
host/uuid.txt
host/hello-world-host
ta/*.ta
**/dyn_list